.content{
  border: 5px solid #00e676;
  border-radius: 10px;
  background-color: #dce775;
  padding: 10px;
  margin: 10px;
}
.head{
  color: green;
  font-size: 17.5px;
  display: flex;
  justify-content: space-between;
}
.body{
  color: green;
  font-size: 14px;
}