nav {
  background-color: #cddc39;
  display: flex;
  justify-content: space-around;
  border: 4px solid #8bc34a;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  font-size: 20px;
}
nav a{
  text-decoration: none;
  color: green;
}
nav a:hover{
  color: blue;
  text-decoration: underline;
}
.header{
  color: green;
  font-size:larger;
  display: flex;
  justify-content: center;
  background-color: #64dd17;
  border: 3px solid #c6ff00;
  border-radius: 15px;
}
.content{
  background-color: yellowgreen;
  width: 100%;
  height: 1000px;
  border: 5px solid green;
  border-radius: 35px;
}