nav {
  background-color: #cddc39;
  display: flex;
  justify-content: space-around;
  border: 4px solid #8bc34a;
  padding: 15px;
  margin: 15px;
}
nav a{
  text-decoration: none;
  color: black;
}
nav a:hover{
  color: blue;
  text-decoration: underline;
}
.header{
  display: flex;
  justify-content: center;
}
.content{
  background-color: yellowgreen;
  width: 100%;
  height: 1000px;
  border: 5px solid green;
}